// Footer
.footer-sticky { background-color: #46B7B9; }

.footer {
	background: #46B7B9;
	height: auto;
	padding-bottom: 3em;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #DDDDD;
}
.footer p {
	margin: 0;
}

.footer h3 {
	border-bottom: 1px solid #fff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
	// &:hover { border-bottom: 1px solid black; }
	.no-link {
	color: white;
    line-height:-3px;
    text-decoration:none;
    outline:none;
		&:hover {
			.transition-delay;
			color: black;
			text-decoration:none;
			outline:none; }
	}
}

.footer ul {
	font-size: 1.5rem;
	font-weight: 500;
	color:white;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.footer-bottom {
	background: darkcyan;
	border-top: 1.5px solid #fff;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footer-bottom p.pull-left {
	padding-top: 15px;
	padding-bottom: 15px;
}

// Footer social icons
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3b5998;
}
.social-network a.icoTwitter:hover {
	background-color:#00aced;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb6;
}
.social-network a.icoGoogleplus:hover {
	background-color:#dd4b39;
}
.social-network a.icoYoutube:hover {
	background-color:#bb0000;
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoLinkedin:hover i, .social-network a.icoGoogleplus:hover i, .social-network a.icoYoutube:hover i { color:#fff; }
.social-circle li a { .border-radius; display:inline-block; position:relative; margin:0 auto 0 auto; text-align:center; width: 3.2em; height: 3.2em; font-size: 1.3rem; line-height: 3.2em; }
.social-circle li i { margin:0; line-height:3.2em; text-align: center; }
.social-circle li:hover i { .rotate;}
.social-circle i { color: #fff; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s; }
.social-circle a { background-color: #D3D3D3; }

.flex { display: flex; align-items: center; justify-content: space-between; }
.post-meta { margin-top: 0; color: black; font-weight: 500; overflow: hidden; }