<div class="container">
  <hr class="line">
  <div class="row">
    <div ng-controller="artikelCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="btn pull-right addBoton" href="/addArtikel">Add Artikel</a>
          <h3 class="panel-title">Alla våra artiklar</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="col-xs-12 col-md-12" ng-repeat="obj in artikel | orderBy:'-artikel.DatumPublicerad'">
                <div class="card">
                  <div class="card-block">
                    <a class="artikelkomment" ng-href="/artikel/har/{{obj._id}}"><img class="imageArtiklar" src="{{obj.bild.img_sokvag}}">
                      <!-- <p class="card-text">{{obj.bild.beskrivning}}</p> -->
                      <h1>{{obj.artikel.Rubrik}}</h1>
                      <p class="card-text artikel">{{obj.artikel.Ingress}}...</p>
                      <p>{{obj.artikel.DatumPublicerad | date:'yyyy-MM-dd'}}</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-info1">
              <h4 class="treKomment">De tre mest kommenterade artiklar</h4>
              <div class="col-xs-12 col-md-12" ng-repeat="komm in kommentarMore | orderBy:'-Count' | limitTo : 3">
                <!-- <p> Count     :  {{komm.Count}} </p> -->
                <div class="col-xs-12 col-md-12 text-right artikelkomment">
                  <a class="artikelkomment" ng-href="/artikel/har/{{komm._id}}"><h4 class="artikel"> {{komm.artikel.Rubrik}} ({{komm.Count}})</h4> 
                      <p class="artikel">{{ komm.artikel.Ingress.substring(0,50)}}...</p>              
                  </a>
                  <hr class="artikelkomment">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End row -->
      </div>
    </div>
  </div>
</div>